html,
body {
  height: 100%;
  font-family: $base-font-family;
  font-size: 13px;
  line-height: 14px;
  color: $black;
  background-color: $gray-light;
}

.u-tac {
  text-align: center;
}

.u-mobile-hide {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.u-desktop-hide {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
