.advantages {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-item {
    margin-right: 40px;
    margin-left: 40px;
  }

  &-item svg {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
  }

  b {
    display: block;
    font-size: 24px;
  }

  p {
    font-size: 14px;
    line-height: 16px;
  }
}
