.banner {
  position: relative;
  text-align: center;

  &-text {
    position: absolute;
    top: 22vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3.4vw;
    line-height: 4vw;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      top: 160px;
      font-size: 25px;
      line-height: 25px;
    }

    @include media-breakpoint-up(lg) {
      top: 110px;
    }

    @include media-breakpoint-up(xl) {
      top: 135px;
    }
  }
}
