.page-header {

  @include media-breakpoint-up(lg) {
    background-color: $white;
  }

  &-inner {
    position: relative;
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      height: 80px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 60px;
      width: calc(100% - #{$grid-gutter-width});
      box-shadow: 0 3px 12px 0 rgba($black, 0.2);

      @include media-breakpoint-up(lg) {
        box-shadow: none;
      }
    }
  }

  &-logo {
    position: relative;
    z-index: 5;
    margin-left: $container-padding-x;
    width: 65px;
    height: 40px;

    @include media-breakpoint-up(lg) {
      width: 95px;
      height: 60px;
    }
  }

  &-contact {
    position: relative;
    z-index: 5;
  }

  &-contact small {
    margin-bottom: 5px;
    display: block;
    font-size: 10px;
    color: rgba($black, 0.6);

    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
  }

  &-link {
    display: block;
    margin-right: $container-padding-x;
    font-family: $base-font-family;
    font-size: 20px;
    color: $black;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:active {
      color: rgba($black, 0.7);
    }
  }
}
