<div class="delivery">
  <div class="delivery-content">
    <h3 class="delivery-title">Возможные варианты доставки</h3>
    <svg xmlns="http://www.w3.org/2000/svg" class="u-desktop-hide" viewBox="0 0 906.544 989.357">
      <g id="Group_78" data-name="Group 78" transform="translate(-141.013 -1685.57)">
        <g id="Group_33" data-name="Group 33">
          <g id="Group_23" data-name="Group 23">
            <g id="Group_21" data-name="Group 21">
              <circle id="Ellipse_12" data-name="Ellipse 12" cx="83.353" cy="83.353" r="83.353" transform="matrix(0.316, -0.949, 0.949, 0.316, 153.457, 1843.72)" fill="#fff"/>
            </g>
            <g id="Group_22" data-name="Group 22">
              <path id="Path_94" data-name="Path 94" d="M282.182,1813.7v14.27a3.983,3.983,0,0,1-3.982,3.983H237.678a3.983,3.983,0,0,1-3.982-3.983v-73.941a3.982,3.982,0,0,1,3.982-3.983H278.2a3.982,3.982,0,0,1,3.982,3.983v42.805" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.909"/>
              <path id="Path_95" data-name="Path 95" d="M270.479,1787.178h1.79v8.536" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.909"/>
              <path id="Path_96" data-name="Path 96" d="M260.841,1769.163a2.754,2.754,0,1,1-2.754-2.753A2.754,2.754,0,0,1,260.841,1769.163Z"/>
              <path id="Path_97" data-name="Path 97" d="M293.6,1811.6a1.721,1.721,0,0,0,2.294-.816l2.2-4.626a1.492,1.492,0,0,0,.061-.177c.016-.045.034-.087.046-.133a1.7,1.7,0,0,0,.06-.428h0v0a1.706,1.706,0,0,0-.06-.428c-.012-.046-.03-.088-.046-.133a1.406,1.406,0,0,0-.061-.176l-2.2-4.627a1.722,1.722,0,0,0-3.111,1.478l1.847,3.888-1.847,3.887A1.724,1.724,0,0,0,293.6,1811.6Z"/>
              <path id="Path_98" data-name="Path 98" d="M275.491,1807.627a2.43,2.43,0,1,0-2.431-2.43A2.43,2.43,0,0,0,275.491,1807.627Z"/>
              <path id="Path_99" data-name="Path 99" d="M282.272,1807.627a2.43,2.43,0,1,0-2.43-2.43A2.43,2.43,0,0,0,282.272,1807.627Z"/>
              <path id="Path_100" data-name="Path 100" d="M289.054,1807.627a2.43,2.43,0,1,0-2.431-2.43A2.424,2.424,0,0,0,289.054,1807.627Z"/>
            </g>
          </g>
          <g id="Group_27" data-name="Group 27">
            <g id="Group_24" data-name="Group 24">
              <circle id="Ellipse_13" data-name="Ellipse 13" cx="83.527" cy="83.527" r="83.527" transform="matrix(0.29, -0.957, 0.957, 0.29, 488.852, 1846.741)" fill="#fff"/>
            </g>
            <g id="Group_26" data-name="Group 26">
              <path id="Path_101" data-name="Path 101" d="M629.677,1772.041,593,1741.782l-36.677,30.258v60.516h73.353Z" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.831"/>
              <g id="Group_25" data-name="Group 25">
                <line id="Line_1" data-name="Line 1" y1="39.733" x2="48.444" transform="translate(544.556 1741.782)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.831"/>
                <line id="Line_2" data-name="Line 2" x1="48.444" y1="39.733" transform="translate(593 1741.782)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.831"/>
              </g>
              <rect id="Rectangle_10" data-name="Rectangle 10" width="41.438" height="48.289" transform="translate(572.281 1784.268)" stroke-width="3.831" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
            </g>
          </g>
          <g id="Group_30" data-name="Group 30">
            <g id="Group_29" data-name="Group 29">
              <g id="Group_28" data-name="Group 28">
                <rect id="Rectangle_11" data-name="Rectangle 11" width="85.824" height="36.213" rx="4.891" transform="translate(379.071 1765.632)" fill="#fcd800"/>
              </g>
            </g>
            <text id="_600_е" data-name="600 е" transform="translate(422.719 1793.813)" font-size="27.049" font-family="Helvetica"><tspan x="-34.224" y="0">600 </tspan><tspan y="0" font-size="28.473" font-family="PTRoubleSans, PT Rouble">е</tspan></text>
          </g>
          <g id="Group_32" data-name="Group 32">
            <path id="Path_102" data-name="Path 102" d="M318.291,1765.367a231.841,231.841,0,0,1,217.467,1.7" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.025" stroke-dasharray="0 12.076"/>
            <g id="Group_31" data-name="Group 31">
              <path id="Path_103" data-name="Path 103" d="M537.6,1771.488a17.23,17.23,0,0,1-.408-8.415" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
              <path id="Path_104" data-name="Path 104" d="M529.182,1771.284a17.218,17.218,0,0,1,8.421.2" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
            </g>
          </g>
          <text id="От_двери_в_Харабовске" data-name="От двери
в Харабовске" transform="translate(260.842 1922.32)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-60.453" y="0">От двери</tspan><tspan x="-87.949" y="35.299">в Харабовске</tspan></text>
          <text id="До_филиала_во_Владивостоке" data-name="До филиала
во Владивостоке" transform="translate(594.541 1922.32)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-79.582" y="0">До филиала</tspan><tspan x="-111.3" y="35.299">во Владивостоке</tspan></text>
        </g>
        <g id="Group_55" data-name="Group 55">
          <g id="Group_36" data-name="Group 36">
            <g id="Group_34" data-name="Group 34">
              <circle id="Ellipse_14" data-name="Ellipse 14" cx="83.353" cy="83.353" r="83.353" transform="translate(141.013 2138.442) rotate(-45)" fill="#fff"/>
            </g>
            <g id="Group_35" data-name="Group 35">
              <path id="Path_105" data-name="Path 105" d="M282.182,2161.142v14.271a3.982,3.982,0,0,1-3.982,3.982H237.678a3.982,3.982,0,0,1-3.982-3.982v-73.942a3.982,3.982,0,0,1,3.982-3.982H278.2a3.982,3.982,0,0,1,3.982,3.982v42.8" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.909"/>
              <path id="Path_106" data-name="Path 106" d="M270.479,2134.616h1.79v8.536" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.909"/>
              <path id="Path_107" data-name="Path 107" d="M260.841,2116.6a2.754,2.754,0,1,1-2.754-2.753A2.754,2.754,0,0,1,260.841,2116.6Z"/>
              <path id="Path_108" data-name="Path 108" d="M293.6,2159.039a1.721,1.721,0,0,0,2.294-.816l2.2-4.626a1.47,1.47,0,0,0,.061-.177c.016-.044.034-.087.046-.132a1.71,1.71,0,0,0,.06-.429h0a1.715,1.715,0,0,0-.06-.429c-.012-.045-.03-.088-.046-.133a1.485,1.485,0,0,0-.061-.176l-2.2-4.626a1.722,1.722,0,0,0-3.111,1.477l1.847,3.888-1.847,3.887A1.724,1.724,0,0,0,293.6,2159.039Z"/>
              <path id="Path_109" data-name="Path 109" d="M275.491,2155.066a2.43,2.43,0,1,0-2.431-2.431A2.431,2.431,0,0,0,275.491,2155.066Z"/>
              <path id="Path_110" data-name="Path 110" d="M282.272,2155.066a2.43,2.43,0,1,0-2.43-2.431A2.431,2.431,0,0,0,282.272,2155.066Z"/>
              <path id="Path_111" data-name="Path 111" d="M289.054,2155.066a2.43,2.43,0,1,0-2.431-2.431A2.428,2.428,0,0,0,289.054,2155.066Z"/>
            </g>
          </g>
          <g id="Group_40" data-name="Group 40">
            <g id="Group_37" data-name="Group 37">
              <circle id="Ellipse_15" data-name="Ellipse 15" cx="81.305" cy="81.305" r="81.305" transform="translate(812.253 2138.442) rotate(-45)" fill="#fff"/>
            </g>
            <g id="Group_39" data-name="Group 39">
              <path id="Path_112" data-name="Path 112" d="M905.307,2160.585v13.92a3.884,3.884,0,0,0,3.885,3.884h39.526a3.884,3.884,0,0,0,3.884-3.884v-72.126a3.885,3.885,0,0,0-3.884-3.885H909.192a3.885,3.885,0,0,0-3.885,3.885v41.754" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.813"/>
              <path id="Path_113" data-name="Path 113" d="M916.723,2134.71h-1.746v8.327" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.813"/>
              <path id="Path_114" data-name="Path 114" d="M926.124,2117.138a2.686,2.686,0,1,0,2.686-2.686A2.686,2.686,0,0,0,926.124,2117.138Z"/>
              <g id="Group_38" data-name="Group 38">
                <path id="Path_115" data-name="Path 115" d="M910.6,2158.533a1.679,1.679,0,0,0,2.238-.8l2.143-4.512a1.624,1.624,0,0,0,.06-.173c.015-.043.033-.085.044-.129a1.674,1.674,0,0,0,.059-.418h0a1.674,1.674,0,0,0-.059-.418c-.011-.045-.029-.086-.044-.13a1.608,1.608,0,0,0-.06-.172l-2.143-4.513a1.68,1.68,0,0,0-3.034,1.442l1.8,3.792-1.8,3.792A1.68,1.68,0,0,0,910.6,2158.533Z"/>
                <path id="Path_116" data-name="Path 116" d="M892.942,2154.657a2.37,2.37,0,1,0-2.371-2.37A2.37,2.37,0,0,0,892.942,2154.657Z"/>
                <path id="Path_117" data-name="Path 117" d="M899.557,2154.657a2.37,2.37,0,1,0-2.371-2.37A2.371,2.371,0,0,0,899.557,2154.657Z"/>
                <path id="Path_118" data-name="Path 118" d="M906.172,2154.657a2.37,2.37,0,1,0-2.371-2.37A2.363,2.363,0,0,0,906.172,2154.657Z"/>
              </g>
            </g>
          </g>
          <g id="Group_44" data-name="Group 44">
            <g id="Group_41" data-name="Group 41">
              <circle id="Ellipse_16" data-name="Ellipse 16" cx="82.484" cy="82.484" r="82.484" transform="translate(475.57 2137.662) rotate(-45)" fill="#fff"/>
            </g>
            <g id="Group_43" data-name="Group 43">
              <path id="Path_119" data-name="Path 119" d="M628.439,2118.936l-36.219-29.881L556,2118.936V2178.7h72.438Z" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.783"/>
              <g id="Group_42" data-name="Group 42">
                <line id="Line_3" data-name="Line 3" y1="39.237" x2="47.839" transform="translate(544.381 2089.055)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.783"/>
                <line id="Line_4" data-name="Line 4" x1="47.839" y1="39.237" transform="translate(592.22 2089.055)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.783"/>
              </g>
              <rect id="Rectangle_12" data-name="Rectangle 12" width="40.921" height="47.686" transform="translate(571.76 2131.011)" stroke-width="3.783" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
            </g>
          </g>
          <g id="Group_47" data-name="Group 47">
            <g id="Group_46" data-name="Group 46">
              <g id="Group_45" data-name="Group 45">
                <rect id="Rectangle_13" data-name="Rectangle 13" width="85.824" height="36.213" rx="4.891" transform="translate(379.071 2132.7)" fill="#fcd800"/>
              </g>
            </g>
            <text id="_600_е-2" data-name="600 е" transform="translate(422.719 2160.881)" font-size="27.049" font-family="Helvetica"><tspan x="-34.224" y="0">600 </tspan><tspan y="0" font-size="28.473" font-family="PTRoubleSans, PT Rouble">е</tspan></text>
          </g>
          <g id="Group_50" data-name="Group 50">
            <g id="Group_49" data-name="Group 49">
              <g id="Group_48" data-name="Group 48">
                <rect id="Rectangle_14" data-name="Rectangle 14" width="93.104" height="36.213" rx="5.095" transform="translate(713.566 2132.7)" fill="#fcd800"/>
              </g>
            </g>
            <text id="_300_е" data-name="+300 е" transform="translate(760.854 2160.881)" font-size="27.049" font-family="Helvetica"><tspan x="-42.122" y="0">+300 </tspan><tspan y="0" font-size="28.473" font-family="PTRoubleSans, PT Rouble">е</tspan></text>
          </g>
          <g id="Group_52" data-name="Group 52">
            <path id="Path_120" data-name="Path 120" d="M318.291,2138.613a231.844,231.844,0,0,1,217.467,1.7" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.025" stroke-dasharray="0 12.076"/>
            <g id="Group_51" data-name="Group 51">
              <path id="Path_121" data-name="Path 121" d="M537.6,2144.734a17.226,17.226,0,0,1-.408-8.414" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
              <path id="Path_122" data-name="Path 122" d="M529.182,2144.531a17.228,17.228,0,0,1,8.421.2" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
            </g>
          </g>
          <g id="Group_54" data-name="Group 54">
            <path id="Path_123" data-name="Path 123" d="M650.461,2138.613a231.844,231.844,0,0,1,217.467,1.7" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.025" stroke-dasharray="0 12.076"/>
            <g id="Group_53" data-name="Group 53">
              <path id="Path_124" data-name="Path 124" d="M869.774,2144.734a17.227,17.227,0,0,1-.408-8.414" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
              <path id="Path_125" data-name="Path 125" d="M861.352,2144.531a17.232,17.232,0,0,1,8.422.2" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
            </g>
          </g>
          <text id="От_двери_в_Харабовске-2" data-name="От двери
в Харабовске" transform="translate(260.053 2280.063)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-60.453" y="0">От двери</tspan><tspan x="-87.949" y="35.299">в Харабовске</tspan></text>
          <text id="До_филиала_во_Владивостоке-2" data-name="До филиала
во Владивостоке" transform="translate(594.541 2280.063)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-79.582" y="0">До филиала</tspan><tspan x="-111.3" y="35.299">во Владивостоке</tspan></text>
          <text id="До_двери_во_Владивостоке" data-name="До двери
во Владивостоке" transform="translate(927.397 2280.063)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-60.162" y="0">До двери</tspan><tspan x="-111.3" y="35.299">во Владивостоке</tspan></text>
        </g>
        <g id="Group_77" data-name="Group 77">
          <g id="Group_58" data-name="Group 58">
            <g id="Group_56" data-name="Group 56">
              <circle id="Ellipse_17" data-name="Ellipse 17" cx="83.353" cy="83.353" r="83.353" transform="translate(141.013 2491.935) rotate(-45)" fill="#fff"/>
            </g>
            <g id="Group_57" data-name="Group 57">
              <path id="Path_126" data-name="Path 126" d="M282.182,2514.635v14.271a3.982,3.982,0,0,1-3.982,3.982H237.678a3.982,3.982,0,0,1-3.982-3.982v-73.942a3.982,3.982,0,0,1,3.982-3.982H278.2a3.982,3.982,0,0,1,3.982,3.982v42.8" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.909"/>
              <path id="Path_127" data-name="Path 127" d="M270.479,2488.109h1.79v8.536" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.909"/>
              <path id="Path_128" data-name="Path 128" d="M260.841,2470.095a2.754,2.754,0,1,1-2.754-2.754A2.753,2.753,0,0,1,260.841,2470.095Z"/>
              <path id="Path_129" data-name="Path 129" d="M293.6,2512.533a1.721,1.721,0,0,0,2.294-.817l2.2-4.626a1.5,1.5,0,0,0,.061-.177c.016-.044.034-.087.046-.132a1.708,1.708,0,0,0,.06-.429h0a1.7,1.7,0,0,0-.06-.428c-.012-.046-.03-.089-.046-.134a1.516,1.516,0,0,0-.061-.176l-2.2-4.626a1.722,1.722,0,0,0-3.111,1.478l1.847,3.887-1.847,3.888A1.724,1.724,0,0,0,293.6,2512.533Z"/>
              <path id="Path_130" data-name="Path 130" d="M275.491,2508.559a2.431,2.431,0,1,0-2.431-2.431A2.43,2.43,0,0,0,275.491,2508.559Z"/>
              <path id="Path_131" data-name="Path 131" d="M282.272,2508.559a2.431,2.431,0,1,0-2.43-2.431A2.431,2.431,0,0,0,282.272,2508.559Z"/>
              <path id="Path_132" data-name="Path 132" d="M289.054,2508.559a2.431,2.431,0,1,0-2.431-2.431A2.423,2.423,0,0,0,289.054,2508.559Z"/>
            </g>
          </g>
          <g id="Group_62" data-name="Group 62">
            <g id="Group_59" data-name="Group 59">
              <circle id="Ellipse_18" data-name="Ellipse 18" cx="81.243" cy="81.243" r="81.243" transform="translate(497.859 2556.348) rotate(-79.099)" fill="#fff"/>
            </g>
            <g id="Group_61" data-name="Group 61">
              <path id="Path_133" data-name="Path 133" d="M628.674,2473.49,593,2444.06l-35.674,29.431v58.862h71.348Z" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.727"/>
              <g id="Group_60" data-name="Group 60">
                <line id="Line_5" data-name="Line 5" y1="38.647" x2="47.119" transform="translate(545.881 2444.06)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.727"/>
                <line id="Line_6" data-name="Line 6" x1="47.119" y1="38.647" transform="translate(593 2444.06)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.727"/>
              </g>
              <rect id="Rectangle_15" data-name="Rectangle 15" width="40.305" height="46.968" transform="translate(572.847 2485.384)" stroke-width="3.727" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
            </g>
          </g>
          <g id="Group_65" data-name="Group 65">
            <g id="Group_64" data-name="Group 64">
              <g id="Group_63" data-name="Group 63">
                <rect id="Rectangle_16" data-name="Rectangle 16" width="85.824" height="36.213" rx="4.891" transform="translate(379.071 2498.521)" fill="#fcd800"/>
              </g>
            </g>
            <text id="_600_е-3" data-name="600 е" transform="translate(422.719 2526.701)" font-size="27.049" font-family="Helvetica"><tspan x="-34.224" y="0">600 </tspan><tspan y="0" font-size="28.473" font-family="PTRoubleSans, PT Rouble">е</tspan></text>
          </g>
          <g id="Group_68" data-name="Group 68">
            <g id="Group_67" data-name="Group 67">
              <g id="Group_66" data-name="Group 66">
                <rect id="Rectangle_17" data-name="Rectangle 17" width="93.104" height="36.213" rx="5.095" transform="translate(713.566 2498.521)" fill="#fcd800"/>
              </g>
            </g>
            <text id="_350_е" data-name="+350 е" transform="translate(760.854 2526.701)" font-size="27.049" font-family="Helvetica"><tspan x="-42.122" y="0">+350 </tspan><tspan y="0" font-size="28.473" font-family="PTRoubleSans, PT Rouble">е</tspan></text>
          </g>
          <g id="Group_72" data-name="Group 72">
            <g id="Group_70" data-name="Group 70">
              <g id="Group_69" data-name="Group 69">
                <circle id="Ellipse_19" data-name="Ellipse 19" cx="81.305" cy="81.305" r="81.305" transform="translate(812.253 2491.935) rotate(-45)" fill="#fff"/>
              </g>
            </g>
            <g id="Group_71" data-name="Group 71">
              <path id="Path_134" data-name="Path 134" d="M934.694,2502.6l-7.458,48.064-7.459-48.064.01.011a32.548,32.548,0,1,1,14.91,0Z" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.729"/>
              <circle id="Ellipse_20" data-name="Ellipse 20" cx="16.942" cy="16.942" r="16.942" transform="translate(907.395 2484.354) rotate(-79.099)" stroke-width="3.729" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fcd800"/>
            </g>
          </g>
          <g id="Group_74" data-name="Group 74">
            <path id="Path_135" data-name="Path 135" d="M318.291,2497.992a231.841,231.841,0,0,1,217.467,1.7" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.025" stroke-dasharray="0 12.076"/>
            <g id="Group_73" data-name="Group 73">
              <path id="Path_136" data-name="Path 136" d="M537.6,2504.113a17.23,17.23,0,0,1-.408-8.415" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
              <path id="Path_137" data-name="Path 137" d="M529.182,2503.91a17.213,17.213,0,0,1,8.421.2" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
            </g>
          </g>
          <g id="Group_76" data-name="Group 76">
            <path id="Path_138" data-name="Path 138" d="M650.461,2497.992a231.841,231.841,0,0,1,217.467,1.7" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.025" stroke-dasharray="0 12.076"/>
            <g id="Group_75" data-name="Group 75">
              <path id="Path_139" data-name="Path 139" d="M869.774,2504.113a17.231,17.231,0,0,1-.408-8.415" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
              <path id="Path_140" data-name="Path 140" d="M861.352,2503.91a17.217,17.217,0,0,1,8.422.2" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.019"/>
            </g>
          </g>
          <text id="От_двери_в_Харабовске-3" data-name="От двери
в Харабовске" transform="translate(260.053 2631.927)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-60.453" y="0">От двери</tspan><tspan x="-87.949" y="35.299">в Харабовске</tspan></text>
          <text id="Филиал_во_Владивостоке" data-name="Филиал
во Владивостоке" transform="translate(594.541 2631.927)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-51.407" y="0">Филиал</tspan><tspan x="-111.3" y="35.299">во Владивостоке</tspan></text>
          <text id="Населённый_пункт_Приморского_края" data-name="Населённый пункт
Приморского края" transform="translate(926.557 2631.927)" font-size="28.346" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="-120.767" y="0">Населённый пункт</tspan><tspan x="-119.044" y="35.299">Приморского края</tspan></text>
        </g>
      </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="u-mobile-hide" viewBox="0 0 1141.812 959.653">
      <g id="Layer_2" data-name="Layer 2" transform="translate(28.962 28.953)">
        <g id="Слой_1" data-name="Слой 1">
          <circle id="Ellipse_74" data-name="Ellipse 74" cx="69.91" cy="69.91" r="69.91" transform="translate(-14.19 121.88) rotate(-76.72)" fill="#fff"/>
          <path id="Path_641" data-name="Path 641" d="M89.44,89v12a3.33,3.33,0,0,1-3.34,3.34h-34A3.33,3.33,0,0,1,48.76,101V39a3.34,3.34,0,0,1,3.34-3.34h34A3.34,3.34,0,0,1,89.44,39V74.8" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <path id="Path_642" data-name="Path 642" d="M79.63,66.7h1.5v7.16" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <circle id="Ellipse_75" data-name="Ellipse 75" cx="2.31" cy="2.31" r="2.31" transform="translate(66.92 49.28)"/>
          <path id="Path_643" data-name="Path 643" d="M99,87.18a1.45,1.45,0,0,0,1.93-.68l1.84-3.88v-.26a1.49,1.49,0,0,0,0-.36h0a1.49,1.49,0,0,0,0-.36v-.26l-1.84-3.88a1.445,1.445,0,1,0-2.61,1.24L99.88,82l-1.55,3.26A1.44,1.44,0,0,0,99,87.18Z"/>
          <path id="Path_644" data-name="Path 644" d="M83.83,83.85a2,2,0,1,0-2-2A2,2,0,0,0,83.83,83.85Z"/>
          <path id="Path_645" data-name="Path 645" d="M89.52,83.85a2,2,0,1,0-2-2A2,2,0,0,0,89.52,83.85Z"/>
          <path id="Path_646" data-name="Path 646" d="M95.2,83.85a2,2,0,0,0,1.45-.6,2.05,2.05,0,0,0,0-2.88,2,2,0,1,0-1.45,3.48Z"/>
          <circle id="Ellipse_76" data-name="Ellipse 76" cx="69.91" cy="69.91" r="69.91" transform="translate(441.615 69.915) rotate(-45)" fill="#fff"/>
          <path id="Path_647" data-name="Path 647" d="M571.18,54.04l-30.7-25.33L509.79,54.04v50.64h61.39Z" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <line id="Line_55" data-name="Line 55" y1="33.26" x2="40.54" transform="translate(499.94 28.71)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <line id="Line_56" data-name="Line 56" x1="40.55" y1="33.26" transform="translate(540.48 28.71)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <rect id="Rectangle_66" data-name="Rectangle 66" width="34.68" height="40.41" transform="translate(523.14 64.27)" stroke-width="3.21" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
          <rect id="Rectangle_67" data-name="Rectangle 67" width="120.88" height="51" rx="6.89" transform="translate(239.17 54.27)" fill="#fcd800"/>
          <text id="_600_е" data-name="600 е" transform="translate(254.07 93.96)" font-size="38.1" font-family="Helvetica-Bold, Helvetica" font-weight="700"><tspan x="0" y="0">600 </tspan><tspan y="0" font-size="40.1" font-family="PTRoubleSans, PT Rouble" font-weight="400">е</tspan></text>
          <path id="Path_648" data-name="Path 648" d="M153.57,53.9a326.54,326.54,0,0,1,306.29,2.38" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.67" stroke-dasharray="0 17.01"/>
          <path id="Path_649" data-name="Path 649" d="M462.46,62.52s-2-6.26-.58-11.85" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <path id="Path_650" data-name="Path 650" d="M450.6,62.23s6.39-1.57,11.86.29" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <g id="Group">
            <text id="От_двери" data-name="От двери" transform="translate(24.88 175.57)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">От двери</tspan></text>
            <text id="в_Харабовске" data-name="в Харабовске" transform="translate(4.8 201.82)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">в Харабовске</tspan></text>
          </g>
          <g id="Group-2" data-name="Group">
            <text id="До_фили" data-name="До филиала" transform="translate(484.32 175.57)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">До филиала</tspan></text>
            <text id="во_Вл" data-name="во Владивостоке" transform="translate(459.63 201.82)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">во Владивостоке</tspan></text>
          </g>
          <circle id="Ellipse_77" data-name="Ellipse 77" cx="69.91" cy="69.91" r="69.91" transform="translate(-28.96 427.69) rotate(-45)" fill="#fff"/>
          <path id="Path_651" data-name="Path 651" d="M89.44,446.73v12A3.34,3.34,0,0,1,86.1,462h-34a3.34,3.34,0,0,1-3.34-3.34v-62a3.34,3.34,0,0,1,3.34-3.34h34a3.34,3.34,0,0,1,3.34,3.34v35.9" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <path id="Path_652" data-name="Path 652" d="M79.63,424.48h1.5v7.16" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <path id="Path_653" data-name="Path 653" d="M71.54,409.37a2.3,2.3,0,1,1-.674-1.636,2.3,2.3,0,0,1,.674,1.636Z"/>
          <path id="Path_654" data-name="Path 654" d="M99,445a1.44,1.44,0,0,0,1.93-.68l1.84-3.88v-.26a1.49,1.49,0,0,0,0-.36h0a1.49,1.49,0,0,0,0-.36v-.26l-1.84-3.88a1.445,1.445,0,1,0-2.61,1.24l1.55,3.26L98.33,443a1.44,1.44,0,0,0,.67,2Z"/>
          <path id="Path_655" data-name="Path 655" d="M83.83,441.63a2,2,0,1,0-2-2A2,2,0,0,0,83.83,441.63Z"/>
          <path id="Path_656" data-name="Path 656" d="M89.52,441.63a2,2,0,1,0-2-2A2,2,0,0,0,89.52,441.63Z"/>
          <path id="Path_657" data-name="Path 657" d="M95.2,441.63a2,2,0,0,0,2-2,2.07,2.07,0,0,0-.59-1.44,2,2,0,1,0-1.45,3.48Z"/>
          <circle id="Ellipse_78" data-name="Ellipse 78" cx="69.91" cy="69.91" r="69.91" transform="translate(927.106 479.637) rotate(-76.72)" fill="#fff"/>
          <path id="Path_658" data-name="Path 658" d="M992.39,446.73v12a3.34,3.34,0,0,0,3.34,3.34h34a3.34,3.34,0,0,0,3.34-3.34v-62a3.34,3.34,0,0,0-3.34-3.34h-34a3.34,3.34,0,0,0-3.34,3.34v35.9" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <path id="Path_659" data-name="Path 659" d="M1002.2,424.48h-1.5v7.16" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <path id="Path_660" data-name="Path 660" d="M1010.28,409.37a2.31,2.31,0,1,0,2.31-2.31,2.31,2.31,0,0,0-2.31,2.31Z"/>
          <path id="Path_661" data-name="Path 661" d="M996.94,445a1.43,1.43,0,0,0,1.92-.68l1.85-3.88v-.26a1.494,1.494,0,0,0,.05-.36h0a1.494,1.494,0,0,0-.05-.36v-.26l-1.85-3.88a1.445,1.445,0,1,0-2.61,1.24l1.55,3.26L996.25,443a1.44,1.44,0,0,0,.69,2Z"/>
          <path id="Path_662" data-name="Path 662" d="M981.75,441.63a2,2,0,1,0-2-2A2,2,0,0,0,981.75,441.63Z"/>
          <path id="Path_663" data-name="Path 663" d="M987.44,441.63a2,2,0,1,0-2-2A2,2,0,0,0,987.44,441.63Z"/>
          <path id="Path_664" data-name="Path 664" d="M993.13,441.63a2,2,0,1,0-2-2A2,2,0,0,0,993.13,441.63Z"/>
          <circle id="Ellipse_79" data-name="Ellipse 79" cx="69.91" cy="69.91" r="69.91" transform="translate(456.368 479.649) rotate(-76.72)" fill="#fff"/>
          <path id="Path_665" data-name="Path 665" d="M571.18,411.82l-30.7-25.33-30.69,25.33v50.65h61.39Z" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <line id="Line_57" data-name="Line 57" y1="33.26" x2="40.54" transform="translate(499.94 386.49)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <line id="Line_58" data-name="Line 58" x1="40.55" y1="33.26" transform="translate(540.48 386.49)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <rect id="Rectangle_68" data-name="Rectangle 68" width="34.68" height="40.41" transform="translate(523.14 422.05)" stroke-width="3.21" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
          <rect id="Rectangle_69" data-name="Rectangle 69" width="120.88" height="51" rx="6.89" transform="translate(239.17 419.6)" fill="#fcd800"/>
          <text id="_600_е-2" data-name="600 е" transform="translate(254.07 459.29)" font-size="38.1" font-family="Helvetica-Bold, Helvetica" font-weight="700"><tspan x="0" y="0">600 </tspan><tspan y="0" font-size="40.1" font-family="PTRoubleSans, PT Rouble" font-weight="400">е</tspan></text>
          <rect id="Rectangle_70" data-name="Rectangle 70" width="131.13" height="51" rx="7.18" transform="translate(710.3 419.6)" fill="#fcd800"/>
          <text id="_300_е" data-name="+300 е" transform="translate(719.19 459.29)" font-size="38.1" font-family="Helvetica-Bold, Helvetica" font-weight="700"><tspan x="0" y="0">+300 </tspan><tspan y="0" font-size="40.1" font-family="PTRoubleSans, PT Rouble" font-weight="400">е</tspan></text>
          <path id="Path_666" data-name="Path 666" d="M153.57,427.93a326.51,326.51,0,0,1,306.29,2.39" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.67" stroke-dasharray="0 17.01"/>
          <path id="Path_667" data-name="Path 667" d="M462.46,436.55s-2-6.26-.58-11.85" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <path id="Path_668" data-name="Path 668" d="M450.6,436.26s6.39-1.57,11.86.29" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <path id="Path_669" data-name="Path 669" d="M621.42,427.93a326.51,326.51,0,0,1,306.29,2.39" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.67" stroke-dasharray="0 17.01"/>
          <path id="Path_670" data-name="Path 670" d="M930.31,436.55s-2-6.26-.58-11.85" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <path id="Path_671" data-name="Path 671" d="M918.45,436.26s6.39-1.57,11.86.29" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <g id="Group-3" data-name="Group">
            <text id="От_двери-2" data-name="От двери" transform="translate(24.88 538.89)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">От двери</tspan></text>
            <text id="в_Харабовске-2" data-name="в Харабовске" transform="translate(4.8 565.14)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">в Харабовске</tspan></text>
          </g>
          <g id="Group-4" data-name="Group">
            <text id="До_фили-2" data-name="До фили" transform="translate(484.32 538.89)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">До филиала</tspan></text>
            <text id="во_Вл-2" data-name="во Вл" transform="translate(459.63 565.14)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">во Владивостоке</tspan></text>
          </g>
          <g id="Group-5" data-name="Group">
            <text id="До_двери" data-name="До двери" transform="translate(964.59 538.89)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">До двери</tspan></text>
            <text id="во_Вл-3" data-name="во Вл" transform="translate(928.44 565.14)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">во Владивостоке</tspan></text>
          </g>
          <circle id="Ellipse_80" data-name="Ellipse 80" cx="69.91" cy="69.91" r="69.91" transform="translate(-28.962 788.238) rotate(-45)" fill="#fff"/>
          <path id="Path_672" data-name="Path 672" d="M89.44,807.28v12a3.34,3.34,0,0,1-3.34,3.34h-34a3.34,3.34,0,0,1-3.34-3.34v-62a3.33,3.33,0,0,1,3.34-3.34h34a3.33,3.33,0,0,1,3.34,3.34v35.9" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <path id="Path_673" data-name="Path 673" d="M79.63,785.03h1.5v7.16" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.28"/>
          <circle id="Ellipse_81" data-name="Ellipse 81" cx="2.31" cy="2.31" r="2.31" transform="translate(66.92 767.62)"/>
          <path id="Path_674" data-name="Path 674" d="M99,805.52a1.45,1.45,0,0,0,1.93-.69l1.84-3.88v-.26a1.49,1.49,0,0,0,0-.36h0a1.49,1.49,0,0,0,0-.36v-.26l-1.84-3.88a1.445,1.445,0,1,0-2.61,1.24l1.55,3.26-1.55,3.26A1.45,1.45,0,0,0,99,805.52Z"/>
          <path id="Path_675" data-name="Path 675" d="M83.83,802.18a2,2,0,1,0-2-2A2,2,0,0,0,83.83,802.18Z"/>
          <path id="Path_676" data-name="Path 676" d="M89.52,802.18a2,2,0,1,0-2-2A2,2,0,0,0,89.52,802.18Z"/>
          <path id="Path_677" data-name="Path 677" d="M95.2,802.18a2.035,2.035,0,1,0-2.035-2.035A2.037,2.037,0,0,0,95.2,802.18Z"/>
          <circle id="Ellipse_82" data-name="Ellipse 82" cx="69.91" cy="69.91" r="69.91" transform="translate(927.105 840.179) rotate(-76.72)" fill="#fff"/>
          <circle id="Ellipse_83" data-name="Ellipse 83" cx="69.91" cy="69.91" r="69.91" transform="translate(456.366 840.191) rotate(-76.72)" fill="#fff"/>
          <path id="Path_678" data-name="Path 678" d="M571.18,772.37l-30.7-25.32-30.69,25.32v50.65h61.39Z" fill="#fcd800" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <line id="Line_59" data-name="Line 59" y1="33.25" x2="40.54" transform="translate(499.94 747.05)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <line id="Line_60" data-name="Line 60" x1="40.55" y1="33.25" transform="translate(540.48 747.05)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <rect id="Rectangle_71" data-name="Rectangle 71" width="34.68" height="40.41" transform="translate(523.14 782.61)" stroke-width="3.21" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
          <rect id="Rectangle_72" data-name="Rectangle 72" width="120.88" height="51" rx="6.89" transform="translate(239.17 797.52)" fill="#fcd800"/>
          <text id="_600_е-3" data-name="600 е" transform="translate(254.07 837.21)" font-size="38.1" font-family="Helvetica-Bold, Helvetica" font-weight="700"><tspan x="0" y="0">600 </tspan><tspan y="0" font-size="40.1" font-family="PTRoubleSans, PT Rouble" font-weight="400">е</tspan></text>
          <rect id="Rectangle_73" data-name="Rectangle 73" width="131.13" height="51" rx="7.18" transform="translate(710.3 797.52)" fill="#fcd800"/>
          <text id="_350_е" data-name="+350 е" transform="translate(719.19 837.21)" font-size="38.1" font-family="Helvetica-Bold, Helvetica" font-weight="700"><tspan x="0" y="0">+350 </tspan><tspan y="0" font-size="40.1" font-family="PTRoubleSans, PT Rouble" font-weight="400">е</tspan></text>
          <path id="Path_679" data-name="Path 679" d="M1017.65,797.41l-6.41,41.33-6.41-41.33h0a28,28,0,1,1,12.82,0Z" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.21"/>
          <circle id="Ellipse_84" data-name="Ellipse 84" cx="14.57" cy="14.57" r="14.57" transform="translate(996.67 755.6)" stroke-width="3.21" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fcd800"/>
          <path id="Path_680" data-name="Path 680" d="M153.57,796.77a326.58,326.58,0,0,1,306.29,2.39" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.67" stroke-dasharray="0 17.01"/>
          <path id="Path_681" data-name="Path 681" d="M462.46,805.39s-2-6.25-.58-11.85" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <path id="Path_682" data-name="Path 682" d="M450.6,805.11s6.39-1.58,11.86.28" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <path id="Path_683" data-name="Path 683" d="M621.42,796.77a326.58,326.58,0,0,1,306.29,2.39" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.67" stroke-dasharray="0 17.01"/>
          <path id="Path_684" data-name="Path 684" d="M930.31,805.39s-2-6.25-.58-11.85" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <path id="Path_685" data-name="Path 685" d="M918.45,805.11s6.39-1.58,11.86.28" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.25"/>
          <g id="Group-6" data-name="Group">
            <text id="От_двери-3" data-name="От двери" transform="translate(24.88 899.45)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">От двери</tspan></text>
            <text id="в_Харабовске-3" data-name="в Харабовске" transform="translate(4.8 925.7)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">в Харабовске</tspan></text>
          </g>
          <g id="Group-7" data-name="Group">
            <text id="Фили" transform="translate(505.31 899.45)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">Филиал</tspan></text>
            <text id="во_Вл-4" data-name="во Вл" transform="translate(459.63 925.7)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">во Владивостоке</tspan></text>
          </g>
          <g id="Group-8" data-name="Group">
            <text id="Населённый_пункт" data-name="Населённый пункт" transform="translate(918.85 899.45)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">Населённый пункт</tspan></text>
            <text id="Приморского_края" data-name="Приморского края" transform="translate(918 925.7)" font-size="22.68" font-family="Helvetica" letter-spacing="-0.02em"><tspan x="0" y="0">Приморского края</tspan></text>
          </g>
        </g>
      </g>
    </svg>
    <div class="delivery-text">Цены указаны за стандартный груз. Рассчитать стоимость своего отправления вы можете <a
      href="#">здесь</a> или у менеджера по телефону:
      <a href="tel: +79510277322">+79510277322</a>
    </div>
  </div>
</div>
